/* General Reset */
body, ul {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
}

.header-container {
    background-color: #305f84;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    width: 100%;
    box-sizing: border-box;
}

.user-name{
    flex-direction: flex-start;
}

.logout-container{
    flex-direction: flex-end;
    margin-right: 20px;
}

/* Main Content */
main {
    display: flex;
    justify-content: left;
    flex-wrap: wrap;
}

.main-content {
    display: flex;
    flex-direction: column;
}

.flex-row {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}

.device-container,
.gateway-container {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    padding: 50px;
    min-width: 200px;
    margin: 20px;
}

/* Section Styles */
section {
    background-color: white;
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    margin: 20px 0 0 0;
}

section h2 {
    margin-top: 0;
    color: #336791;
    border-bottom: 2px solid #ddd;
    padding-bottom: 5px;
    margin-bottom: 20px;
}

.device-container li a{
    text-decoration: none;
    color: #336791;
    font-weight: bold;
    transition: color 0.3s;
    margin-bottom: 15px;
}

.gateway-container li{
    text-decoration: none;
    color: black;
    font-weight: bold;
    transition: color 0.3s;
    margin-bottom: 10px;
}

.device-container li:hover{
    background-color: #f5f5f5;
    cursor: pointer;
}

.logout-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

button[type="submit"] {
    width: 100%;
    background-color: #ffffff;
    color: black;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 20px;
    margin: 20px;
    justify-self: right;
}

button[type="submit"]:hover {
    background-color: #afafaf;
}

/* Box container like other cards */
.variables-homepage {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    overflow-x: auto;
    margin: 20px;
}

.variables-homepage h2 {
    color: #305f84;
    font-weight: bold;
    border-bottom: 2px solid #e1e1e1;
    padding-bottom: 10px;
    margin-bottom: 20px;
}

.variables-homepage table {
    width: 100%;
    border-collapse: collapse;
    font-size: 15px;
    min-width: 800px;
}

.variables-homepage th,
.variables-homepage td {
    padding: 10px 12px;
    border-bottom: 1px solid #e1e1e1;
    text-align: left;
}

.variables-homepage th {
    background-color: #f4f6f8;
    font-weight: bold;
    color: #333;
}

.variables-homepage tr:nth-child(even) {
    background-color: #f9f9f9;
}

.variables-homepage tr:hover {
    background-color: #f1f1f1;
}