body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.login-container {
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 320px;
}

.login-header {
    text-align: center;
    margin-bottom: 20px;
}

.login-header h2 {
    color: #336791;
    font-weight: bold;
}

.form-group {
    margin-bottom: 15px;
    margin-right: 20px;
    margin-left: 20px;
}

label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.submit-button{
    width: 100%;
    justify-content: center;
    align-content: center;
    text-align: center;
}

button[type="submit"] {
    width: 50%;
    background-color: #336791;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 20px;
}

button[type="submit"]:hover {
    background-color: #28527a;
}

.toggle-darkmode {
    background: none;
    border: none;
    cursor: pointer;
}

.error-message {
    color: #d8000c;
    background-color: #ffdddd;
    border: 1px solid #d8000c;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 20px;
    text-align: center;
    font-weight: bold;
    font-size: medium;
}
