<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <h2>Welcome, {{ user.username }}!</h2>
    <h2> Gateways Connected </h2>
    {% for gateway in gateways %}
    <li>
        <a> Gateway connected with ip {{ gateway.ip_address }} at port {{gateway.port}}</a>
    </li>
    {% empty %}
    <p>No gateways found.</p>
    {% endfor %}
    <h2>  Your Devices </h2>
    <ul>
    {% for device in devices %}
        <li>
            <a href="{% url 'device_detail' device.name %}">{{ device }}</a>
        </li>
    {% empty %}
        <p>No devices found.</p>
    {% endfor %}
</ul>
<form method="post" action="{% url 'logout' %}">
    {% csrf_token %}
    <button type="submit">Logout</button>
</form>
</body>
</html>
